<h1>Welcome </h1>
 <div class="container ">
Welcome {{name}} <br>
 chelezmek ta3mel periode jeya ! <a routerLink="/todos"> click here !</a>
</div>

<div class="container ">
     Click here to connect with Spring boot
     <button (click)="getWelcomeMessageWithParameter()" class="btn btn-success">Get Welcome Message</button>
    </div>
    
    <div class="container " *ngIf="welcomeMessageFromService">
        <h2 style="color:brown"> you can see the welcome message   </h2>
{{welcomeMessageFromService}}
    </div>
       